.navbar {
  background: #0A2342;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 8%;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #FFC857;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: .3s;
}

.nav-links a:hover {
  color: #FFC857;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

.login-btn {
  background: transparent;
  border: 2px solid #FFC857;
  color: #FFC857;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.signup-btn {
  background: #FFC857;
  color: #0A2342;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}